{% extends 'base.html' %}
{% block content %}

<div class="hero-section">
    <h1>Welcome to our Course Registration System!</h1>
        <p>Explore a wide variety of courses offered by distinguished instructors and take the next step in your educational journey with us.</p>

      </div>

    <form action="{% url 'course_search' %}" method="get">
        {% csrf_token %}
        <input type="text" name="query" placeholder="Enter the instructor name, course name or no." required class="form-control mr-2">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

{% endblock %}
